//variables for color theme
$bgcolor : black;
$cirlce: #03045e;
$text : wheat;
$moviebg : #023047;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.movie {
  // border: 2px solid black;
  margin: .5rem .25rem;
  padding: 15px;
  background-color: $moviebg; 
  border-radius: 1rem; 
}

.movie-showcase {
  display: flex;
  margin: auto;
  justify-content:space-around;
  flex-wrap:wrap;
  background-color: $bgcolor;
  color: $text;
}

.movie-text-section {
  display: flex;
  // justify-content: space-around;
  .movie-title {
    width: 90%;
    overflow-x: hidden;
    text-align: center;
  }

  .movie-rating {
    width: auto;
    background-color: black;
    color: whitesmoke;
    padding : 0.5rem;
    margin: auto;
    border-radius: 100%;
  }
}