//variables for color theme
$bgcolor : #000814;
$cirlce: #03045e;
$text : wheat;
$moviebg : #023047;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
}

.navbar {
  display: flex;
}

.movie {
  margin: 1rem 0;
  background-color: $moviebg; 
  border-radius: 1rem;
  position: relative;
}

.movie-showcase {
  display: flex;
  margin: auto;
  justify-content:space-evenly;
  flex-wrap:wrap;
  background-color: $bgcolor;
  color: $text;
  padding: 1rem 0;
}

.movie-text-section {
  display: flex;
  .movie-title {
    width: 87%;
    overflow-x: hidden;
    text-align: center;
    font-size: large;
  }

  .movie-rating {
    width: auto;
    background-color: black;
    color: whitesmoke;
    padding : 0.5rem;
    margin: auto;
    border-radius: 100%;
  }

  .movie-rating-good {
    color: green;
  }

  .movie-rating-poor {
    color: yellow;
  }
}

.movie-overview {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: wheat;
  transform: translateY(100%);
  visibility: hidden;
  display: none;
  overflow: hidden;
  padding: .2rem;
  text-align: center;

}

.movie:hover .movie-overview{
  display: block; 
  transform : translateY(0%);
  visibility: visible;
  transition: 0.5s ease;
  background-color: rgba(0,0,0,0.65);
  max-height: 100%;
}

@media screen and (max-width: 900px) {

  .movie-showcase {
    max-width: 100%;
    justify-content: center;
    overflow: hidden;
  }

 
}